<template>
  <v-app light>
    <v-card color="white" flat height="">
      <v-app-bar flat app color="transparent" dark>
        <img
          class="mr-3 text-center"
          :src="require('../img/logo.png')"
          height="50"
          @click="toMainPage()"
        />
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>
      </v-app-bar>
    </v-card>
    <!-- <v-main> -->
    <!-- <v-container> -->
    <nuxt />
    <!-- </v-container> -->
    <!-- </v-main> -->
    <!-- <v-footer :absolute="!fixed" app>
      <span>&copy; Stay Fresh {{ new Date().getFullYear() }}</span>
    </v-footer> -->
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
    }
  },
  methods: {
    toMainPage() {
      window.location.href = '/'
    },
  },
  mounted() {
  },
}
</script>

<style>
.v-application {
  font-family: 'Montserrat';
}
</style>
