<template>
  <div style="margin-top:100px;margin:100px;">
     <v-btn outline color="red" dark v-if="status == 1" @click="logout()">
      <v-icon>mdi-logout</v-icon>ออกจากระบบ
    </v-btn>
    <v-card elevation="2" style="margin-top:50px">
        <v-card-title>ตารางคำขอเพิ่มสินค้าเข้าตู้น้ำ</v-card-title>
      <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-center">รหัสตู้กดน้ำ</th>
              <th class="text-center">รหัสสินค้า</th>
              <th class="text-center">จำนวนที่ขอเพิ่ม</th>
              <th class="text-center">วันที่ทำเรื่อง</th>
              <th class="text-center">สถานะ</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in dataReqTran" :key="item.m_id">
              <td class="text-center">{{ item.m_id }}</td>
              <td class="text-center">{{ item.p_id }}</td>
              <td class="text-center">{{ item.req_amount }}</td>
              <td class="text-center">
                {{ new Date(item.req_date_time).toLocaleString() }}
              </td>
              <td class="text-center" v-if="item.req_status == 0">
                <b style="color: red">ไม่อนุมัติ</b>
              </td>
              <td class="text-center" v-if="item.req_status == 1">
                <b style="color: orange">รอการอนุมิติ</b>
              </td>
              <td class="text-center" v-if="item.req_status == 2">
                <b style="color: green">อนุมัติแล้ว</b>
              </td>
              <td>
                <v-btn color="success" v-if="item.req_status == 1" @click="ApproveReq(item.req_id)">อนุมัติ</v-btn>
              </td>
              <td>
                <v-btn color="error" v-if="item.req_status == 1" @click="CancelReq(item.req_id)">ไม่อนุมัติ</v-btn>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card>
  </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert2'
export default {
  data() {
    return {
      dataReqTran: [],
      staff:'',
      status: 0,
    }
  },
  mounted() {
    this.getDataReq()
    this.getUser()
  },
  methods: {
    getDataReq() {
      axios.get('http://localhost:3300/getAllReq').then((res) => {
        this.dataReqTran = res.data
        console.log(this.dataReqTran)
      })
    },
    ApproveReq(req_id) {
        let data = {
            req_id:req_id
        }
        axios.post('http://localhost:3300/ApproveReq',data).then((res)=>{
            swal.fire(
                'ทำการอนุมัติการจัดส่งสินค้าเรียบร้อยแล้ว',
                'ทางระบบจะส่งข้อมูลการจัดส่งสินค้าไปให้คนส่งของ',
                'success'
            )
            this.getDataReq();
        } , err=>{
            swal.fire(
                'Error',
                'เกิดข้อผิดพลาด',
                'error'
            )
        })
    },
    CancelReq(req_id) {
        let data = {
            req_id:req_id
        }
        axios.post('http://localhost:3300/CancelReq',data).then((res)=>{
            swal.fire(
                'ไม่อนุมัติ',
                'ยกเลิกการจัดส่งสินค้า',
                'success'
            )
            this.getDataReq();
        } , err=>{
            swal.fire(
                'Error',
                'เกิดข้อผิดพลาด',
                'error'
            )
        })
    },
    logout() {
      localStorage.clear()
      this.$router.push('/login')
    },
    getUser() {
      this.staff = localStorage.getItem('staff_id')
      if (this.staff == '') {
        this.status = 0
      } else {
        this.status = 1
      }
    },
  },
}
</script>

<style>
.v-toolbar__content {
  background-color: black;
}
.swal2-title {
    font-family: "Montserrat";
}
.swal2-content {
    font-family: "Montserrat";
    font-size: 16px;
}
</style>