<template>
  <div style="margin-top:100px;margin:100px;">
    <v-btn outline color="red" dark v-if="status == 1" @click="logout()">
      <v-icon>mdi-logout</v-icon>ออกจากระบบ
    </v-btn>
    <v-card elevation="2" style="margin-top:50px;">
      <v-card-title>ตารางจัดส่งสินค้า</v-card-title>
      <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-center">รหัสตู้กดน้ำ</th>
              <th class="text-center">รหัสสินค้า</th>
              <th class="text-center">จำนวน</th>
              <th class="text-center">สถานะ</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in dataTran" :key="item.st_id">
              <td class="text-center">{{ item.m_id }}</td>
              <td class="text-center">{{ item.p_id }}</td>
              <td class="text-center">{{ item.amount }}</td>
              <td class="text-center" v-if="item.st_status == 1">
                <b style="color: orange">รับเรื่องส่ง</b>
              </td>
              <td class="text-center" v-if="item.st_status == 2">
                <b style="color: green">กำลังจัดส่ง</b>
              </td>
              <td class="text-center" v-if="item.st_status == 3">
                <b style="color: green">ส่งของเรียบร้อยแล้ว</b>
              </td>
              <td v-if="item.st_status != 3">
                <v-dialog v-model="dialog" persistent max-width="300px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn color="success" dark v-bind="attrs" v-on="on" @click="getStockTranId(item.st_id, item.st_status)">
                      เปลี่ยนสถานะ
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">รายละเอียดการส่งสินค้า</span>
                    </v-card-title>
                    <v-card-text>
                      <v-radio-group v-model="radios" mandatory>
                        <v-radio label="รับเรื่องส่ง" value="1"></v-radio>
                        <v-radio label="กำลังจัดส่ง" value="2"></v-radio>
                        <v-radio label="ส่งของแล้ว" value="3"></v-radio>
                        <v-radio label="ยกเลิก" value="0"></v-radio>
                      </v-radio-group>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="dialog = false">
                        Close
                      </v-btn>
                      <v-btn color="blue darken-1" text @click="updateStockTran()"> Save </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card>
  </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert2'
export default {
  data() {
    return {
      radios: null,
      st_id_for_update:'',
      dialog: false,
      dataTran: [],
      staff:'',
      status: 0,
    }
  },
  mounted() {
    this.getAllTran()
    this.getUser()
  },
  methods: {
    getAllTran() {
      axios.get('http://localhost:3300/getAllTran').then((res) => {
        this.dataTran = res.data
      })
    },
    getStockTranId(st_id,st_status) {
        console.log(st_id,st_status)
        this.st_id_for_update = st_id;
        this.radios = st_status;
    },
    updateStockTran() {
        let data = {
            st_id:this.st_id_for_update,
            st_status:this.radios
        }
        axios.post('http://localhost:3300/updateStockTran', data).then((res)=>{
            this.dialog = false;
            if(this.radios == 3){
                swal.fire(
                'เปลี่ยนสถานะสำเร็จ',
                'อัพเดทสต๊อกเรียบร้อยแล้ว',
                'success'
                )
            }else{
                swal.fire(
                'Success',
                'เปลี่ยนสถานะสำเร็จ',
                'success'
                )
            }
            this.getAllTran();
        } , err=>{
            swal.fire(
                'Error',
                'มีบางอย่างผิดพลาด',
                'error'
                )
        })
    },
    logout() {
      localStorage.clear()
      this.$router.push('/login')
    },
    getUser() {
      this.staff = localStorage.getItem('staff_id')
      if (this.staff == '') {
        this.status = 0
      } else {
        this.status = 1
      }
    },
  },
}
</script>

<style>
.v-toolbar__content {
  background-color: black;
}
.swal2-title {
    font-family: "Montserrat";
}
.swal2-content {
    font-family: "Montserrat";
    font-size: 16px;
}
</style>