<template>
  <div style="margin-top:100px; margin: 100px;">
    <v-btn outline color="red" dark v-if="status == 1" @click="logout()">
      <v-icon>mdi-logout</v-icon>ออกจากระบบ
    </v-btn>
    <v-row style="margin-top:50px;">
      <v-col cols="10"><v-icon class="mr-2" color="black" @click="toMainManagerPage()">mdi-arrow-left</v-icon>กลับหน้าหลัก</v-col>
      <v-col cols="2">
        <v-row justify="center">
          <v-dialog v-model="dialog" persistent max-width="600px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark v-bind="attrs" v-on="on">
                ขอเพิ่มสินค้า
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">ขอเพิ่มสินค้า</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <!-- <v-col cols="12">
                      <v-text-field
                        label="รหัสสินค้า*"
                        v-model="p_id_for_req"
                        required
                      ></v-text-field>
                    </v-col> -->
                    <v-col cols="12">
                      <v-text-field
                        label="จำนวน*"
                        v-model="amount_for_req"
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false">
                  Close
                </v-btn>
                <v-btn color="blue darken-1" text @click="addReq()">
                  Save
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
      </v-col>
    </v-row>
    <br />
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-center">รหัสสินค้า</th>
            <th class="text-center">จำนวนที่ขอเพิ่ม</th>
            <th class="text-center">วันที่ทำเรื่อง</th>
            <th class="text-center">สถานะ</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in dataReqTran" :key="item.m_id">
            <td class="text-center">{{ item.p_id }}</td>
            <td class="text-center">{{ item.req_amount }}</td>
            <td class="text-center">
              {{ new Date(item.req_date_time).toLocaleString() }}
            </td>
            <td class="text-center" v-if="item.req_status == 0">
              <b style="color: red">ไม่อนุมัติ</b>
            </td>
            <td class="text-center" v-if="item.req_status == 1">
              <b style="color: orange">รอการอนุมิติ</b>
            </td>
            <td class="text-center" v-if="item.req_status == 2">
              <b style="color: green">อนุมัติแล้ว</b>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert2';
export default {
  data() {
    return {
      //p_id_for_req: '',
      amount_for_req: '',
      dialog: false,
      m_id_for_history: '',
      p_id_for_history: '',
      dataReqTran: [],
      staff:'',
      status: 0,
    }
  },
  mounted() {
    this.getDataStockTran(),
    this.getUser()
  },
  methods: {
    getDataStockTran() {
      this.m_id_for_history = localStorage.getItem('m_id_for_history')
      this.p_id_for_history = localStorage.getItem('p_id_for_history')
      console.log(this.m_id_for_history)
      let data = {
        m_id: this.m_id_for_history,
        p_id: this.p_id_for_history,
      }
      axios
        .post('http://localhost:3300/getReqByM_idandB_id', data)
        .then((res) => {
          this.dataReqTran = res.data
          console.log(this.dataReqTran)
        })
    },
    addReq(){
        
        let data = {
            m_id:this.m_id_for_history,
            p_id:this.p_id_for_history,
            req_amount:this.amount_for_req
        }
        axios.post("http://localhost:3300/addReqProduct", data).then((res)=>{
            if(res.data != "400"){
                 swal.fire(
                'ทำเรื่องขอสินค้าเข้าคลังสำเร็จ',
                'กรุณารอการอนุมัติจากสำนักงานใหญ่',
                'success'
                )
                this.dialog = false;
                this.getDataStockTran();
            }else{
                swal.fire(
                'เกิดข้อผิดพลาด',
                'กรุณาตรวจสอบอีกครั้ง',
                'error'
                )
            }
        })
    },
    toMainManagerPage ()
    {
       window.location.href="/managerPage";
    },
    logout() {
      localStorage.clear()
      this.$router.push('/login')
    },
    getUser() {
      this.staff = localStorage.getItem('staff_id')
      if (this.staff == '') {
        this.status = 0
      } else {
        this.status = 1
      }
    },
  },
}
</script>

<style>
.v-toolbar__content {
  background-color: black;
}
.swal2-title {
    font-family: "Montserrat";
}
.swal2-content {
    font-family: "Montserrat";
    font-size: 16px;
}
</style>