<template>
  <v-container style="max-width: 100%; padding: 0px">
    <v-carousel hide-delimiters style="height:100vh" show-arrows-on-hover cycle>
      <v-carousel-item
        v-for="(item, i) in items"
        :key="i"
        :src="item.src"
      ></v-carousel-item>
    </v-carousel>
    <v-container>
      <v-row align="center" justify="center" class="ma-5">
        <v-col class="d-flex child-flex" cols="4">
          <h1 class="text-center">choose your fresh 🙂</h1>
        </v-col>
      </v-row>
    </v-container>
    <v-container style="width: 70%">
      <v-row>
        <v-col v-for="n in dataProduct" :key="n" class="d-flex child-flex" cols="12" sm="12" md="6" lg="3">
          <v-card class="mx-auto" flat>
            <v-img
              :src="'http://localhost:3300/images/' + n.p_img"
              height="200px"
            ></v-img>

            <v-card-subtitle align="center"
              > {{n.p_name}}</v-card-subtitle
            >
            <v-card-subtitle align="center">
              <v-btn small outlined rounded color="black" dark @click="toBuyYourDrink(n.p_id, n.p_img, n.p_name, n.amount, n.p_price, n.p_detail)"> Buy </v-btn>
            </v-card-subtitle>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      dataProduct: [],
      items: [
        {
          src: require('../img/strawberry-cover.png'),
        },
        {
          src: require('../img/lemon-cover.png'),
        },
        {
          src: require('../img/orange-cover.png'),
        },
        {
          src: require('../img/grape-cover.png'),
        },
      ],
    }
  },
  methods: {
    toBuyYourDrink(p_id,p_img,p_name,amount,p_price,p_detail) {
      localStorage.setItem("p_id_for_buy",p_id);
      localStorage.setItem("img_for_buy",p_img);
      localStorage.setItem("p_name_for_buy",p_name);
      localStorage.setItem("amount_for_buy",amount);
      localStorage.setItem("p_price_for_buy",p_price);
      localStorage.setItem("p_detail_for_buy",p_detail);
      console.log('toBuyYourDrink');
      window.location.href="/product";
    },
    getAllproduct() {
      axios.get('http://localhost:3300/GetAllProductThisMachine').then((res)=>{
        this.dataProduct = res.data
      })
    }
  },
  mounted() {
    this.getAllproduct();
  }
}
</script>

<style>
.v-image.v-responsive.v-carousel__item.theme--dark {
    height: 100vh !important;
}
.v-card__subtitle {
    font-size: larger;
    line-height: initial;
}
button.v-btn.v-btn--outlined.v-btn--rounded.theme--dark.v-size--small.black--text:hover {
    background-color: black;
    color: white !important;
}
</style>