<template>
    <v-form v-model="valid">
    <v-container style="max-width: 100%; padding: 0px">
      <v-row align="center" justify="center" style="height: 100vh;">
        <v-col cols="12" md="4">
          <h1>ADMIN</h1>
          <v-row >
            <v-col cols="12" md="12">
              <v-text-field
                v-model="username"
                :rules="usernameRules"
                :counter="20"
                label="Username"
                required
                @keyup.enter="Login()"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
              <v-col cols="12" md="12">
                <v-text-field
                  v-model="password"
                  :rules="passwordRules"
                  :counter="20"
                  :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="showPass ? 'text' : 'password'"
                  @click:append="showPass = !showPass"
                  label="Password"
                  required
                  @keyup.enter="Login()"
                ></v-text-field>
            </v-col>
          </v-row>
          <v-row justify="center">
            <v-col cols="12" md="12">
              <v-btn @click="Login()" type:submit outlined color="black" dark block large>Login</v-btn>
            </v-col>
          </v-row>
      </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import swal from 'sweetalert2';
import axios from "axios";
export default {
  data() {
    return {
        showPass:false,
        valid: false,
        username: '',
        password: '',
        usernameRules: [
            v => !!v || 'Username is required',
            v => v.length <= 20 || 'Username must be less than 20 characters',
        ],
        passwordRules: [
            v => !!v || 'Password is required',
            v => v.length <= 20 || 'Password must be less than 20 characters',
        ],
    };
  },
  mounted() {
    
  },
  methods: {
      Login() {
      let data = {
        username: this.username,
        password: this.password,
      };
      axios.post("http://localhost:3300/login", data).then((res) => {
        if (res.data != "username หรือ password ไม่ถูกต้อง") {
            console.log(res.data)
            localStorage.setItem("staff_id", res.data[0].staff_id);
            localStorage.setItem("branch_id", res.data[0].b_id);
            localStorage.setItem("staff_status", res.data[0].staff_status);
            swal.fire(
                'Success',
                'เข้าสู่ระบบสำเร็จ',
                'success'
            )
            if(res.data[0].staff_status == 1){
                this.$router.push('/adminPage');
            }else if(res.data[0].staff_status == 2){
                this.$router.push('/managerPage');
            }else if(res.data[0].staff_status == 3){
                this.$router.push('/driverPage');
            }
        } else {
            console.log(res.data)
            swal.fire(
                'เข้าสู่ระบบล้มเหลว',
                res.data,
                'error'
            )
        }
      });
    },
  }
};
</script>

<style>
button.v-btn.v-btn--outlined.theme--dark.black--text:hover {
  background-color: black;
  color: white !important;
}
.v-toolbar__content {
    background-color: black;
}
.swal2-title {
    font-family: "Montserrat";
}
.swal2-content {
    font-family: "Montserrat";
    font-size: 16px;
}
</style>