<template>
  <div style="margin-top: 100px; margin: 100px">
    <v-btn outline color="red" dark v-if="status == 1" @click="logout()">
      <v-icon>mdi-logout</v-icon>ออกจากระบบ
    </v-btn>
    <v-container>
      <v-row>
        <v-col>
          <v-card
            class="mx-auto"
            max-width="344"
            outlined
            dark
            v-if="card_alert == false"
          >
            <v-icon class="ma-2" color="white" @click="toCloseCardAlert()"
              >mdi-close</v-icon
            >
            <v-list-item three-line>
              <v-list-item-content>
                <div class="overline mb-4">สินค้าใกล้จะหมด</div>
                <v-list-item-title
                  v-for="item in dataBeingSoldout"
                  :key="item.p_id"
                  class="headline mb-1"
                >
                  น้ำ {{ item.p_name }} ในตู้ที่ {{ item.m_id }}
                </v-list-item-title>
                <v-list-item-subtitle
                  >กรุณาสั่งสินค้าเพิ่ม</v-list-item-subtitle
                >
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <div align="center">
      <img src="../img/map.jpg" width="1300" />
    </div>
    <br />
    <v-row>
      <v-col cols="10"></v-col>
      <v-col cols="2">
        <v-select
          v-model="select"
          :items="dataMachine"
          item-text="m_id"
          item-value="m_id"
          label="เลือกรหัสตู้กดน้ำ"
          outlined
          return-object
          color="black"
          v-on:change="getStockByMid(select.m_id)"
        ></v-select>
      </v-col>
    </v-row>

    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-center">รหัสสินค้า</th>
            <th class="text-center">ชื่อ</th>
            <th class="text-center">ราคา</th>
            <th class="text-center">จำนวนคงเหลือ</th>
            <th class="text-center">เวลาอัพเดทสต๊อกล่าสุด</th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in dataStock" :key="item.m_id">
            <td class="text-center">{{ item.p_id }}</td>
            <td class="text-center">{{ item.p_name }}</td>
            <td class="text-center">{{ item.p_price }}</td>
            <td class="text-center">{{ item.amount }}</td>
            <td class="text-center">
              {{ new Date(item.update_date_time).toLocaleString() }}
            </td>
            <td class="text-center">
              <v-btn
                outlined
                color="black"
                dark
                elevation="2"
                @click="openDetailHistory(item.m_id, item.p_id)"
                >ประวัติการขอเพิ่มสินค้า</v-btn
              >
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      dataMachine: [],
      dataStock: [],
      dataBeingSoldout: [],
      select: '',
      card_alert: false,
      staff:'',
      status: 0,
    }
  },
  mounted() {
    this.getMachine()
    this.getStockbeingSoldout()
    this.getUser()
  },
  methods: {
    getMachine() {
      let b_id = localStorage.getItem('branch_id')
      let data = {
        b_id: b_id,
      }
      axios.post('http://localhost:3300/getMachineByBid', data).then((res) => {
        this.dataMachine = res.data
        console.log(this.dataMachine)
      })
    },
    getStockByMid(m_id) {
      let data = {
        m_id: m_id,
      }
      console.log(m_id)
      axios.post('http://localhost:3300/getStockByMid', data).then((res) => {
        console.log(res.data)
        this.dataStock = res.data
      })
    },
    openDetailHistory(m_id, p_id) {
      localStorage.removeItem('m_id_for_history')
      localStorage.removeItem('p_id_for_history')
      localStorage.setItem('m_id_for_history', m_id)
      localStorage.setItem('p_id_for_history', p_id)
      this.$router.push('/historyStockTran')
    },
    toCloseCardAlert() {
      this.card_alert = true
    },
    getStockbeingSoldout() {
      axios.get('http://localhost:3300/getStockbeingSoldout').then((res) => {
        this.dataBeingSoldout = res.data
        console.log(this.dataBeingSoldout)
      })
    },
    logout() {
      localStorage.clear()
      this.$router.push('/login')
    },
    getUser() {
      this.staff = localStorage.getItem('staff_id')
      if (this.staff == '') {
        this.status = 0
      } else {
        this.status = 1
      }
    },
  },
}
</script>

<style>
.v-toolbar__content {
  background-color: black;
}
button.v-btn.v-btn--outlined.theme--dark.black--text:hover {
  background-color: black;
  color: white !important;
}
.mx-auto.v-card.v-sheet.v-sheet--outlined.theme--dark {
  position: absolute;
  top: 70px;
  right: 0px;
  background-color: #d00217;
}
.v-list-item__title.headline.mb-1 {
  font-size: 16px !important;
  font-family: 'Montserrat' !important;
}
.swal2-title {
    font-family: "Montserrat";
}
.swal2-content {
    font-family: "Montserrat";
    font-size: 16px;
}
</style>