<template>
  <v-container style="max-width: 100%; padding: 0px">
    <v-row align="center" justify="start">
      <v-col cols="12" md="6" sm="12">
        <img
          class="mr-3 text-center img-product-single"
          :src="'http://localhost:3300/images/' + img_for_buy"
          contain
          style="max-width: -webkit-fill-available"
        />
      </v-col>
      <v-col cols="12" md="6" sm="12">
          <v-row>
              <v-col md="6" sm="6">
                  <v-icon class="mr-2" color="black" @click="toMainPage()">mdi-arrow-left</v-icon>
              </v-col>
              <v-col md="5" sm="5" style="text-align: end;">
                  <v-icon class="mr-2" color="#d00217">mdi-heart</v-icon>
              </v-col>
              <v-col md="12" sm="12">
                <div class="pa-5">
                    <h1>{{p_name_for_buy}}</h1>
                    <h5 style="font-weight: 300">
                        {{p_detail_for_buy}}
                    </h5>

                    <br />
                    <v-row>
                        <v-col cols="12" sm="4" md="4">
                        <span>{{p_name_for_buy}}</span>
                        <br />
                        <span>250 ml</span>
                        </v-col>
                        <v-col align-self="center" cols="12" sm="4" md="6">
                        <span> x 1 bottle</span>
                        </v-col>
                        <v-col align-self="center" cols="12" sm="4" md="2">
                        <span style="font-weight: 600"> 69 baht</span>
                        </v-col>
                    </v-row>
                    <br />
                    <v-btn outlined color="black" dark @click="toPayment()">
                        <v-icon class="mr-2">mdi-cart-outline</v-icon> Buy Drink</v-btn
                    >
                    </div>
              </v-col>
          </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import swal from 'sweetalert2'
import axios from 'axios'
export default {
  data() {
    return {
      p_id_for_buy:'',
      img_for_buy:'',
      p_name_for_buy:'',
      amount_for_buy:'',
      p_price_for_buy:'',
      p_detail_for_buy:''
    }
  },
  methods: {
    toPayment() {
        let data = {
          p_id:this.p_id_for_buy
        }
        axios.post('http://localhost:3300/buyProduct', data).then((res)=>{
          if(res.data == "Out of Stock"){
            swal.fire(
                'Error',
                'Sold out',
                'error'
          )
          }else{
            setTimeout(() => {
            swal.fire({
                icon: 'success',
                title: 'Thank you',
                text: 'Your drink is coming \n Wait a moment please',
                showConfirmButton: false,
                timer: 4000,
                iconColor: '#333',
                allowOutsideClick: false
                })
            }, 500);
          }  
        } , err=>{
          swal.fire(
                'เกิดข้อผิดพลาด',
                'กรุณาตรวจสอบอีกครั้ง',
                'error'
          )
        })
    },
    toMainPage() {
      window.location.href="/";
    },
    getDataForBuy() {
      this.p_id_for_buy = localStorage.getItem("p_id_for_buy");
      this.img_for_buy = localStorage.getItem("img_for_buy");
      this.p_name_for_buy = localStorage.getItem("p_name_for_buy");
      this.amount_for_buy = localStorage.getItem("amount_for_buy");
      this.p_price_for_buy = localStorage.getItem("p_price_for_buy");
      this.p_detail_for_buy = localStorage.getItem("p_detail_for_buy");
    },
  },
  mounted() {
    this.getDataForBuy();
  }
}
</script>

<style>
button.v-btn.v-btn--outlined.theme--dark.black--text:hover {
  background-color: black;
  color: white !important;
}
img.mr-3.text-center.img-product-single {
  height: 100vh;
}
@media only screen and (max-width: 600px) {
  img.mr-3.text-center.img-product-single {
    height: auto !important;
  }
}
.swal2-title {
    font-family: "Montserrat";
}
.swal2-content {
    font-family: "Montserrat";
    font-size: 16px;
}
</style>
